Repository saw4405/splat-replay2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

ty:
  name: ty check
  entry: uv --directory backend run ty check . --ignore unresolved-import
  language: system
  pass_filenames: false

frontend-format:
  name: frontend format check
  entry: npm run format:check --prefix frontend
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend type check
  entry: npm run type-check --prefix frontend
  language: system
  pass_filenames: false

frontend-svelte-check:
  name: frontend svelte check
  entry: npm run check --prefix frontend
  language: system
  pass_filenames: false

自動処理中にスリープ設定できる機能追加
  backend/src/splat_replay/application/dto/assets.py
  backend/src/splat_replay/application/services/process/auto_process_service.py
  backend/src/splat_replay/application/services/system/power_manager.py
  backend/src/splat_replay/application/use_cases/assets/get_edit_upload_status.py
  backend/src/splat_replay/application/use_cases/assets/start_edit_upload.py
  backend/src/splat_replay/domain/events/process_events.py
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/src/splat_replay/interface/web/schemas/__init__.py
  backend/src/splat_replay/interface/web/schemas/common.py
  backend/tests/test_edit_upload_process_options.py
  frontend/src/main/api/assets.test.ts
  frontend/src/main/api/assets.ts
  frontend/src/main/api/mappers.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/main/domainEvents.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

ボトムドロワー動画一覧のメタデータ・結果画像表示を改善
  Taskfile.yml
  backend/src/splat_replay/application/dto/metadata.py
  backend/src/splat_replay/application/metadata/schema.py
  backend/src/splat_replay/interface/web/schemas/metadata.py
  backend/tests/test_battle_history.py
  backend/tests/test_metadata_contracts.py
  frontend/src/main/api/types.ts
  frontend/src/main/components/assets/EditedDataList.svelte
  frontend/src/main/components/assets/RecordedDataList.svelte
  frontend/src/main/components/metadata/MetadataForm.svelte
  frontend/src/main/components/metadata/MetadataOverlay.svelte
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
  frontend/src/main/metadata/editable.test.ts
  frontend/src/main/metadata/editable.ts
  frontend/src/main/metadata/live.test.ts
  frontend/src/main/metadata/live.ts
  frontend/src/main/metadata/shared.test.ts
  frontend/src/main/metadata/shared.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

対応ブキ追加
  backend/assets/matching/weapon/カーボンローラー.png
  backend/assets/matching/weapon/カーボンローラー_mask.png
  backend/assets/matching/weapon/クラッシュブラスターネオ.png
  backend/assets/matching/weapon/クラッシュブラスターネオ_mask.png
  backend/assets/matching/weapon/スパイガジェット繚.png
  backend/assets/matching/weapon/スパイガジェット繚_mask.png
  backend/assets/matching/weapon/ダイナモローラー.png
  backend/assets/matching/weapon/ダイナモローラー_mask.png
  backend/assets/matching/weapon/バケットスロッシャーデコ.png
  backend/assets/matching/weapon/バケットスロッシャーデコ_mask.png
  backend/config/image_matching.yaml
Due: none

chore: E2Eテストフィクスチャ動画をGit LFS管理に設定
  .gitattributes
Due: none

進捗ダイアログのUI変更
  frontend/src/main/components/progress/ProgressDialog.svelte
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

対応ブキ追加
  backend/assets/matching/weapon/LACT-450デコ.png
  backend/assets/matching/weapon/LACT-450デコ_mask.png
  backend/assets/matching/weapon/Rブラスターエリート.png
  backend/assets/matching/weapon/Rブラスターエリート_mask.png
  backend/assets/matching/weapon/スプラシューター.png
  backend/assets/matching/weapon/スプラシューター_mask.png
  backend/assets/matching/weapon/ホットブラスター艶.png
  backend/assets/matching/weapon/ホットブラスター艶_mask.png
  backend/config/image_matching.yaml
Due: none

薄いブキ表示を表示なし判定とする
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/constants.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/recognizer.py
  backend/tests/fixtures/weapon_detection/no_weapon_icons_screen_7.png
  backend/tests/fixtures/weapon_detection/no_weapon_icons_screen_8.png
  backend/tests/test_weapon_recognition_adapter.py
Due: ty

対応ブキ追加
  backend/assets/matching/weapon/キャンピングシェルター.png
  backend/assets/matching/weapon/キャンピングシェルター_mask.png
  backend/assets/matching/weapon/スパイガジェットソレーラ.png
  backend/assets/matching/weapon/スパイガジェットソレーラ_mask.png
  backend/config/image_matching.yaml
Due: none

薄いブキ表示を表示なし判定とする
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/recognizer.py
  backend/tests/fixtures/weapon_detection/no_weapon_icons_screen_10.png
  backend/tests/fixtures/weapon_detection/no_weapon_icons_screen_9.png
  backend/tests/test_weapon_recognition_adapter.py
Due: ty

ブキ判別精度向上
  backend/assets/matching/weapon/generated_labeling_variants/manifest.json
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパーカスタム_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパーカスタム_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパーカスタム_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパーカスタム_labeling_variant_004.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_004.png
  backend/assets/matching/weapon/わかばシューター.png
  backend/assets/matching/weapon/わかばシューター_mask.png
  backend/assets/matching/weapon/オーダーローラーレプリカ.png
  backend/assets/matching/weapon/オーダーローラーレプリカ_mask.png
  backend/assets/matching/weapon/ソイチューバーカスタム.png
  backend/assets/matching/weapon/ソイチューバーカスタム_mask.png
  backend/assets/matching/weapon/ヒーローシューターレプリカ.png
  backend/assets/matching/weapon/ヒーローシューターレプリカ_mask.png
  backend/config/image_matching.yaml
  backend/scripts/build_weapon_labeling_variant_bank.py
  backend/tests/test_build_weapon_labeling_variant_bank.py
  backend/tests/test_weapon_labeling_configuration.py
  backend/tests/test_weapon_recognition_adapter.py
Due: ty

全ブキ対応
  assets/matching/weapon/generated_labeling_variants/ガエンFFカスタム_labeling_variant_001.png
  backend/assets/matching/weapon/R-PEN5B.png
  backend/assets/matching/weapon/R-PEN5B_mask.png
  backend/assets/matching/weapon/generated_labeling_variants/H3リールガンSNAK_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/H3リールガンSNAK_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/H3リールガンSNAK_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/R-PEN5B_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/R-PEN5B_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/manifest.json
  backend/assets/matching/weapon/generated_labeling_variants/ガエンFFカスタム_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/ガエンFFカスタム_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/ガエンFFカスタム_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/デュアルスイーパーカスタム_labeling_variant_004.png
  backend/assets/matching/weapon/オーダーシェルターレプリカ.png
  backend/assets/matching/weapon/オーダーシェルターレプリカ_mask.png
  backend/assets/matching/weapon/カーボンローラーANGL.png
  backend/assets/matching/weapon/カーボンローラーANGL_mask.png
  backend/assets/matching/weapon/ガエンFF.png
  backend/assets/matching/weapon/ガエンFF_mask.png
  backend/assets/matching/weapon/スクイックリンα.png
  backend/assets/matching/weapon/スクイックリンα_mask.png
  backend/assets/matching/weapon/スクイックリンβ.png
  backend/assets/matching/weapon/スクイックリンβ_mask.png
  backend/assets/matching/weapon/ドライブワイパーRUST.png
  backend/assets/matching/weapon/ドライブワイパーRUST_mask.png
  backend/config/image_matching.yaml
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/constants.py
Due: ty

薄いブキ表示を表示なし判別とする
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/constants.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/recognizer.py
  backend/tests/fixtures/weapon_detection/no_weapon_icons_screen_11.png
  backend/tests/test_weapon_recognition_adapter.py
Due: ty

docs: add weapon visible candidates design
  docs/superpowers/specs/2026-03-22-weapon-visible-candidates-design.md
Due: none

ブキ検出を非同期で実行するように変更
  backend/src/splat_replay/application/interfaces/weapon_detection.py
  backend/src/splat_replay/application/services/recording/recording_context.py
  backend/src/splat_replay/application/services/recording/weapon_detection_service.py
  backend/src/splat_replay/application/use_cases/auto_recording_use_case.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/constants.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/predict_weapons_output.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/recognizer.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/src/splat_replay/infrastructure/filesystem/paths.py
  backend/src/splat_replay/infrastructure/repositories/battle_history_repo.py
  backend/tests/test_auto_recording_use_case.py
  backend/tests/test_battle_history.py
  backend/tests/test_handler_performance.py
  backend/tests/test_predict_weapons_output.py
  backend/tests/test_weapon_detection_service.py
  backend/tests/test_weapon_recognition_adapter.py
  backend/tests/test_weapon_recognition_performance.py
Due: ty

ブキ判別精度向上
  backend/assets/matching/weapon/generated_labeling_variants/manifest.json
  backend/assets/matching/weapon/generated_labeling_variants/カーボンローラー_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/カーボンローラー_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/カーボンローラー_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパー_labeling_variant_001.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパー_labeling_variant_002.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパー_labeling_variant_003.png
  backend/assets/matching/weapon/generated_labeling_variants/ジェットスイーパー_labeling_variant_004.png
  backend/assets/matching/weapon/ジェットスイーパーCOBR.png
  backend/assets/matching/weapon/ジェットスイーパーCOBR_mask.png
  backend/assets/matching/weapon/ジェットスイーパー_appearance_001.png
  backend/assets/matching/weapon/ジェットスイーパー_appearance_002.png
  backend/assets/matching/weapon/フルイドVカスタム.png
  backend/assets/matching/weapon/フルイドVカスタム_mask.png
  backend/config/image_matching.yaml
Due: none

バトル中止のE2Eテスト追加
  backend/src/splat_replay/application/dto/__init__.py
  backend/src/splat_replay/application/dto/replay.py
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/recording.py
  backend/src/splat_replay/application/services/recording/weapon_detection_service.py
  backend/src/splat_replay/application/use_cases/auto_recording_use_case.py
  backend/src/splat_replay/infrastructure/adapters/video/recorder_with_transcription.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/constants.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/src/splat_replay/infrastructure/di/app_services.py
  backend/src/splat_replay/infrastructure/test_input.py
  backend/src/splat_replay/interface/web/routers/recording.py
  backend/tests/test_recording_session_cancel.py
  backend/tests/test_test_input_replay.py
  backend/tests/test_weapon_detection_service.py
  backend/tests/test_weapon_recognition_adapter.py
  frontend/src/main/components/metadata/MetadataEditDialog.svelte
  frontend/src/main/components/metadata/MetadataForm.svelte
  frontend/src/main/metadata/editable.test.ts
  frontend/src/main/metadata/editable.ts
  frontend/test-results/.last-run.json
  frontend/tests/e2e/auto-recording-workflow.spec.ts
  frontend/tests/e2e/edit-upload-workflow.spec.ts
  frontend/tests/e2e/error-recovery.spec.ts
  frontend/tests/e2e/multi-video-management.spec.ts
  frontend/tests/e2e/recorded-metadata-edit-workflow.spec.ts
  frontend/tests/e2e/recording-metadata-edit-workflow.spec.ts
  frontend/tests/e2e/support/appHelpers.ts
  frontend/tests/e2e/support/e2eEnv.ts
  frontend/tests/fixtures/e2e/auto-recording/2026-03-21 23-11-56.json
  frontend/tests/fixtures/e2e/auto-recording/2026-03-21 23-11-56.mkv
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

プレビュー映像非表示機能を削除
  backend/tests/test_weapon_detection_service.py
  frontend/src/main/components/recording/VideoPreview.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

処理中スピナーの回転アニメーションを復元
  frontend/src/App.svelte
  frontend/src/main/components/assets/EditedDataList.svelte
  frontend/src/main/components/assets/RecordedDataList.svelte
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/setup/components/SetupWizard.svelte
  frontend/src/spinner-animation.test.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

編集後スリープの切り替えが反映されない不具合を修正
  backend/src/splat_replay/application/services/process/auto_process_service.py
  backend/src/splat_replay/application/use_cases/assets/start_edit_upload.py
  backend/src/splat_replay/domain/events/__init__.py
  backend/src/splat_replay/domain/events/process_events.py
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/tests/test_edit_upload_process_options.py
  frontend/src/main/MainApp.svelte
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/domainEvents.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

処理中スピナーの回転アニメーションを追加
  frontend/src/app.css
  frontend/src/main/components/progress/ProgressDialog.component.test.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

frontend assets 未配置でも app 初期化できるようにする
  backend/src/splat_replay/interface/web/app_factory.py
  backend/tests/interface/web/test_app_factory.py
Due: ty

ProgressDialog の回転アイコン検証を安定化
  frontend/src/main/components/progress/ProgressDialog.component.test.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

GitHub Release 作成スキルを追加
  .codex/skills/create-github-release/SKILL.md
  .codex/skills/create-github-release/agents/openai.yaml
  .codex/skills/create-github-release/scripts/create_github_release.py
  .codex/skills/create-github-release/tests/test_create_github_release.py
  docs/superpowers/plans/2026-03-28-github-release-skill.md
  docs/superpowers/specs/2026-03-28-github-release-skill-design.md
Due: none

Add E2E YouTube noop upload design
  docs/superpowers/specs/2026-03-29-e2e-youtube-noop-upload-design.md
Due: none

docs: add e2e replay usage optimization design
  docs/superpowers/specs/2026-03-30-e2e-replay-usage-optimization-design.md
Due: none

docs: refine e2e replay optimization design
  docs/superpowers/specs/2026-03-30-e2e-replay-usage-optimization-design.md
Due: none

docs: add e2e replay optimization plan
  docs/superpowers/plans/2026-03-30-e2e-replay-usage-optimization.md
Due: none

test(e2e): 録画ファイル利用を録画制御系に限定し lower testへ移管
  backend/src/splat_replay/infrastructure/adapters/capture/video_file_capture.py
  backend/src/splat_replay/infrastructure/adapters/upload/__init__.py
  backend/src/splat_replay/infrastructure/adapters/upload/noop_upload_port.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/tests/fixtures/weapon_detection/no_weapon_icons_screen_12.png
  backend/tests/test_noop_upload_port.py
  backend/tests/test_upload_port_registration.py
  backend/tests/test_video_file_capture_thread_safety.py
  docs/e2e_replay_test.md
  docs/superpowers/plans/2026-03-29-e2e-youtube-noop-upload.md
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/ensure-e2e-assets.js
  frontend/src/e2eEnv.test.ts
  frontend/src/ensure-e2e-assets.test.ts
  frontend/src/main/components/assets/RecordedDataList.component.test.ts
  frontend/src/main/components/metadata/MetadataOverlay.component.test.ts
  frontend/src/playwright-config.test.ts
  frontend/src/recordedSeed.test.ts
  frontend/tests/e2e/auto-recording-workflow.spec.ts
  frontend/tests/e2e/edit-upload-workflow.spec.ts
  frontend/tests/e2e/error-recovery-recorded-assets.spec.ts
  frontend/tests/e2e/error-recovery-recording-live.spec.ts
  frontend/tests/e2e/error-recovery.spec.ts
  frontend/tests/e2e/multi-video-management.spec.ts
  frontend/tests/e2e/recorded-metadata-edit-workflow.spec.ts
  frontend/tests/e2e/recording-metadata-edit-workflow.spec.ts
  frontend/tests/e2e/support/appHelpers.ts
  frontend/tests/e2e/support/e2eEnv.ts
  frontend/tests/e2e/support/recordedSeed.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

chore: fixタスクを追加
  AGENTS.md
  Taskfile.yml
Due: none

ドキュメント・環境更新
  .codex/skills/test-ops/SKILL.md
  .codex/skills/test-ops/agents/openai.yaml
  .codex/skills/worktree-setup/SKILL.md
  .pre-commit-config.yaml
  AGENTS.md
  Taskfile.yml
  assets/matching/weapon/generated_labeling_variants/ガエンFFカスタム_labeling_variant_001.png
  backend/README.md
  backend/packaging/splat-replay-webview.spec
  backend/src/splat_replay/bootstrap/dev_server.py
  backend/src/splat_replay/interface/AGENTS.md
  backend/src/splat_replay/interface/gui/webview_app.py
  backend/tests/test_dev_server.py
  docs/DEVELOPMENT.md
  docs/external_spec.md
  docs/internal_design.md
  docs/superpowers/plans/2026-04-04-external-spec-responsibility-refresh.md
  docs/superpowers/plans/2026-04-04-task-dev-dual-launch.md
  docs/superpowers/plans/2026-04-04-usage-guide-repositioning.md
  docs/superpowers/specs/2026-04-04-external-spec-responsibility-refresh-design.md
  docs/superpowers/specs/2026-04-04-task-dev-dual-launch-design.md
  docs/superpowers/specs/2026-04-04-usage-guide-repositioning-design.md
  docs/test_strategy.md
  docs/usage.md
  frontend/.gitignore
  frontend/AGENTS.md
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/run-pre-commit-frontend-tool.js
  frontend/src/setup/stores/state.test.ts
  frontend/src/setup/stores/state.ts
  frontend/test-results/.last-run.json
  frontend/vitest.base.config.ts
  frontend/vitest.component.config.ts
  frontend/vitest.integration.config.ts
  frontend/vitest.logic.config.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

ボトムドロワーのタブ化
  frontend/src/main/components/recording/BottomDrawer.svelte
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

Fix verify regressions and packaged app startup
  backend/packaging/splat-replay-webview.spec
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/application/services/common/settings_service.py
  backend/src/splat_replay/bootstrap/pyinstaller_hiddenimports.py
  backend/src/splat_replay/infrastructure/__init__.py
  backend/src/splat_replay/infrastructure/adapters/__init__.py
  backend/src/splat_replay/infrastructure/adapters/audio/__init__.py
  backend/src/splat_replay/infrastructure/adapters/audio/microphone_enumerator.py
  backend/src/splat_replay/infrastructure/adapters/storage/settings_repository.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/src/splat_replay/interface/web/routers/settings.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_contract.py
  backend/tests/integration/test_assets_router_contracts.py
  backend/tests/integration/test_settings_router_contracts.py
  backend/tests/integration/test_setup_router_contracts.py
  backend/tests/test_bootstrap_imports.py
  backend/tests/test_pyinstaller_hiddenimports.py
  backend/tests/test_webview_settings.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/common/components/BaseDialog.svelte
  frontend/src/main-entry.test.ts
  frontend/src/main.ts
  frontend/src/main/components/metadata/SubtitleEditorDialog.svelte
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/renderMode.test.ts
  frontend/src/main/renderMode.ts
  frontend/src/setup/SetupApp.svelte
  frontend/src/setup/components/steps/TranscriptionSetup.svelte
  frontend/svelte.config.js
  frontend/vitest.base.config.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat(frontend): ボトムドロワーのメタデータ表示を改善
  frontend/src/main/components/assets/EditedDataList.svelte
  frontend/src/main/components/assets/RecordedDataList.svelte
  frontend/src/main/components/metadata/SubtitleEditorDialog.svelte
  frontend/vite.config.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat(frontend): 戦績タブと統計ビューを追加
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/history.py
  backend/src/splat_replay/application/services/common/battle_history_service.py
  backend/src/splat_replay/application/use_cases/history/__init__.py
  backend/src/splat_replay/application/use_cases/history/list_battle_history.py
  backend/src/splat_replay/bootstrap/web_app.py
  backend/src/splat_replay/domain/config/video_storage.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/src/splat_replay/infrastructure/di/use_cases.py
  backend/src/splat_replay/infrastructure/logging/logger.py
  backend/src/splat_replay/infrastructure/repositories/battle_history_repo.py
  backend/src/splat_replay/interface/web/app_factory.py
  backend/src/splat_replay/interface/web/routers/__init__.py
  backend/src/splat_replay/interface/web/routers/history.py
  backend/src/splat_replay/interface/web/schemas/__init__.py
  backend/src/splat_replay/interface/web/schemas/history.py
  backend/src/splat_replay/interface/web/server.py
  backend/tests/test_battle_history.py
  docs/superpowers/plans/2026-03-30-e2e-replay-usage-optimization.md
  frontend/src/main/api/history.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/assets/EditedDataList.svelte
  frontend/src/main/components/assets/RecordedDataList.svelte
  frontend/src/main/components/assets/StatisticsDataView.component.test.ts
  frontend/src/main/components/assets/StatisticsDataView.svelte
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/main/components/recording/BottomDrawer.test.ts
  frontend/tests/e2e/error-recovery-recorded-assets.spec.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: BattleFrameAnalyzer のXP・結果キャッシュを削除してハッシュ衝突バグを修正
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
Due: ty

feat(device): キャプチャデバイスの復旧機能を実装
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/common.py
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/application/interfaces/recording.py
  backend/src/splat_replay/application/services/recording/recording_preparation.py
  backend/src/splat_replay/application/services/system/device_checker.py
  backend/src/splat_replay/domain/config/capture_device.py
  backend/src/splat_replay/infrastructure/adapters/capture/capture_device_checker.py
  backend/src/splat_replay/infrastructure/adapters/system/cross_cutting.py
  backend/src/splat_replay/interface/web/routers/settings.py
  backend/src/splat_replay/interface/web/routers/setup.py
  backend/src/splat_replay/interface/web/schemas/__init__.py
  backend/src/splat_replay/interface/web/schemas/setup.py
  backend/tests/integration/test_settings_router_contracts.py
  backend/tests/integration/test_setup_router_contracts.py
  backend/tests/test_battle_history.py
  backend/tests/test_capture_device_recovery.py
  backend/tests/test_webview_settings.py
  frontend/src/main/api/recording.test.ts
  frontend/src/main/api/recording.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/recording/VideoPreviewContainer.component.test.ts
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
  frontend/src/test-utils/OpenStub.svelte
  frontend/src/test-utils/StubComponent.svelte
  frontend/src/test-utils/VisibleStub.svelte
  frontend/tests/e2e/support/appHelpers.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

docs(design): DESIGN.mdを新規作成しUIを設計仕様に適合
  AGENTS.md
  DESIGN.md
  backend/src/splat_replay/interface/gui/webview_app.py
  backend/src/splat_replay/interface/web/app_factory.py
  backend/tests/interface/web/test_app_factory.py
  backend/tests/test_webview_app.py
  frontend/src/app.css
  frontend/src/common/components/BaseDialog.svelte
  frontend/src/main/MainApp.svelte
  frontend/src/main/MainApp.test.ts
  frontend/src/main/components/AutoProcessNotification.svelte
  frontend/src/main/components/metadata/MetadataForm.svelte
  frontend/src/main/components/metadata/MetadataOverlay.svelte
  frontend/src/main/components/metadata/SubtitleEditorDialog.svelte
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/main/components/recording/BottomDrawer.test.ts
  frontend/src/main/components/recording/VideoPreview.svelte
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
  frontend/src/main/components/recording/VideoPreviewContainer.test.ts
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/components/settings/SelectField.svelte
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/setup/components/StepProgress.svelte
  frontend/src/themes/neon-abyss.css
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

Path conditions:
  ty: any of: ^backend/src/|^backend/tests/
  frontend-format: any of: ^frontend/
  frontend-lint: any of: ^frontend/
  frontend-type-check: any of: ^frontend/
  frontend-svelte-check: any of: ^frontend/
