Repository saw4405/splat-replay2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

ty:
  name: ty check
  entry: uv --directory backend run ty check . --ignore unresolved-import
  language: system
  pass_filenames: false

frontend-format:
  name: frontend format check
  entry: npm run format:check --prefix frontend
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend type check
  entry: npm run type-check --prefix frontend
  language: system
  pass_filenames: false

frontend-svelte-check:
  name: frontend svelte check
  entry: npm run check --prefix frontend
  language: system
  pass_filenames: false

refactor: God Class 分割 — backend/frontend 大規模モジュールを抽出分離
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
  backend/src/splat_replay/domain/services/analyzers/kill_record_extractor.py
  backend/src/splat_replay/interface/web/routers/setup.py
  backend/src/splat_replay/interface/web/routers/setup_config.py
  backend/src/splat_replay/interface/web/routers/setup_error_handling.py
  backend/src/splat_replay/interface/web/routers/setup_navigation.py
  backend/src/splat_replay/interface/web/routers/setup_system.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main/components/assets/EditedDataList.svelte
  frontend/src/main/components/assets/RecordedDataList.svelte
  frontend/src/main/components/assets/useVideoListActions.svelte.ts
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/components/progress/progressStateMachine.test.ts
  frontend/src/main/components/progress/progressStateMachine.ts
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/main/components/recording/useProcessFlow.svelte.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: desktop deployでGit警告を非致命化
  backend/tests/test_deploy_desktop_script.py
  scripts/deploy-desktop.ps1
Due: ty

編集一覧に編集プレビューを表示
  backend/src/splat_replay/application/dto/assets.py
  backend/src/splat_replay/application/use_cases/assets/list_edited_videos.py
  backend/src/splat_replay/infrastructure/di/use_cases.py
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/src/splat_replay/interface/web/schemas/editing.py
  backend/tests/test_list_edited_videos_use_case.py
  frontend/src/main/api/mappers.test.ts
  frontend/src/main/api/mappers.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/assets/EditedDataList.component.test.ts
  frontend/src/main/components/assets/EditedDataList.svelte
  frontend/src/main/components/assets/useVideoListActions.svelte.ts
  frontend/src/main/components/recording/BottomDrawer.component.test.ts
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/test-utils/StubComponent.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

XP誤検知をOCR形式チェックで抑制
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/xp_detection_diagnostics.py
  backend/src/splat_replay/application/services/recording/auto_recorder.py
  backend/src/splat_replay/application/services/recording/phase_handler_registry.py
  backend/src/splat_replay/application/services/recording/recording_context.py
  backend/src/splat_replay/application/services/recording/recording_session_service.py
  backend/src/splat_replay/application/services/recording/standby_handler.py
  backend/src/splat_replay/application/use_cases/auto_recording_use_case.py
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
  backend/src/splat_replay/domain/services/analyzers/frame_analyzer.py
  backend/src/splat_replay/domain/services/analyzers/xp_detection.py
  backend/src/splat_replay/infrastructure/adapters/diagnostics/__init__.py
  backend/src/splat_replay/infrastructure/adapters/diagnostics/xp_detection.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/src/splat_replay/infrastructure/di/app_services.py
  backend/tests/test_auto_recording_use_case.py
  backend/tests/test_recording_rate_candidates.py
  backend/tests/test_xp_detection_diagnostics.py
Due: ty

fix: improve XP OCR accuracy
  backend/src/splat_replay/application/interfaces/xp_detection_diagnostics.py
  backend/src/splat_replay/application/services/recording/standby_handler.py
  backend/src/splat_replay/domain/ports/image_editor.py
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
  backend/src/splat_replay/domain/services/analyzers/xp_detection.py
  backend/src/splat_replay/infrastructure/adapters/diagnostics/xp_detection.py
  backend/src/splat_replay/infrastructure/adapters/image/image_editor.py
  backend/tests/test_xp_detection_diagnostics.py
Due: ty

feat: add event power OCR support
  backend/assets/matching/battle_rate_event_power_best.png
  backend/config/image_matching.yaml
  backend/src/splat_replay/application/services/editing/thumbnail_generator.py
  backend/src/splat_replay/application/services/editing/title_description_generator.py
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
  backend/tests/fixtures/templates/rate_event_power_2105.7.png
  backend/tests/fixtures/templates/rate_event_power_2157.9.png
  backend/tests/fixtures/templates/rate_event_power_2180.0.png
  backend/tests/test_event_power_frame_analyzer.py
  backend/tests/test_recording_rate_candidates.py
  backend/tests/test_thumbnail_generator.py
  backend/tests/test_title_description_generator.py
Due: ty

fix: improve mobile statistics layout
  frontend/src/main/components/assets/StatisticsDataView.svelte
  frontend/tests/e2e/responsive-layout.spec.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

docs: define prioritized progress image loading
  docs/superpowers/specs/2026-07-19-progress-dialog-prioritized-image-loading-design.md
Due: none

fix: decouple editing from preview frames
  backend/src/splat_replay/application/services/editing/auto_editor.py
  backend/tests/logic/application/test_auto_editor.py
Due: ty

test: isolate auto editor preview regression
  backend/tests/logic/application/test_auto_editor.py
Due: ty

fix: extract progress frames without cache
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/video.py
  backend/src/splat_replay/infrastructure/adapters/video/ffmpeg_processor.py
  backend/tests/logic/infrastructure/test_frame_preview_port.py
Due: ty

fix: serve progress frames without cache fallback
  backend/src/splat_replay/bootstrap/web_app.py
  backend/src/splat_replay/infrastructure/di/adapters.py
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/src/splat_replay/interface/web/server.py
  backend/tests/contract/test_assets_router_contract.py
Due: ty

fix: restrict recorded frame paths
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/tests/contract/test_assets_router_contract.py
Due: ty

feat: add prioritized progress image loader
  frontend/src/main/components/progress/progressImageLoader.test.ts
  frontend/src/main/components/progress/progressImageLoader.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: isolate progress image request generations
  frontend/src/main/components/progress/progressImageLoader.test.ts
  frontend/src/main/components/progress/progressImageLoader.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat: expose detailed edit upload progress
  backend/src/splat_replay/application/interfaces/image.py
  backend/src/splat_replay/application/interfaces/upload.py
  backend/src/splat_replay/application/interfaces/video.py
  backend/src/splat_replay/application/services/common/progress.py
  backend/src/splat_replay/application/services/editing/auto_editor.py
  backend/src/splat_replay/application/services/editing/thumbnail_generator.py
  backend/src/splat_replay/application/services/upload/auto_uploader.py
  backend/src/splat_replay/application/use_cases/assets/start_edit_upload.py
  backend/src/splat_replay/infrastructure/adapters/upload/noop_upload_port.py
  backend/src/splat_replay/infrastructure/adapters/upload/youtube_client.py
  backend/src/splat_replay/infrastructure/adapters/video/ffmpeg_processor.py
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/tests/contract/test_assets_router_contract.py
  backend/tests/logic/application/test_auto_editor.py
  backend/tests/logic/application/test_auto_uploader.py
  backend/tests/logic/application/test_battle_history.py
  backend/tests/logic/application/test_metadata_parser_service.py
  backend/tests/logic/application/test_progress_payload.py
  backend/tests/logic/application/test_start_edit_upload_use_case.py
  backend/tests/logic/application/test_title_description_generator.py
  backend/tests/logic/infrastructure/test_ffmpeg_processor.py
  backend/tests/logic/infrastructure/test_youtube_client.py
  backend/tests/test_thumbnail_generator.py
Due: ty

feat: redesign visual progress dialog
  frontend/src/common/components/BaseDialog.component.test.ts
  frontend/src/common/components/BaseDialog.svelte
  frontend/src/main/api/assets.test.ts
  frontend/src/main/api/assets.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/progress/ProgressDialog.component.test.ts
  frontend/src/main/components/progress/ProgressDialog.integration.test.ts
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/components/progress/progressStateMachine.test.ts
  frontend/src/main/components/progress/progressStateMachine.ts
  frontend/src/main/components/progress/responsiveStage.test.ts
  frontend/src/main/components/progress/responsiveStage.ts
  frontend/tests/e2e/edit-upload-workflow.spec.ts
  frontend/tests/e2e/responsive-layout.spec.ts
  frontend/vitest.setup.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

docs: record visual progress dialog design
  docs/superpowers/plans/2026-07-14-progress-dialog-tablet-timeline.md
  docs/superpowers/plans/2026-07-19-progress-dialog-prioritized-image-loading.md
  docs/superpowers/specs/2026-07-11-progress-dialog-responsive-design.md
  docs/superpowers/specs/2026-07-14-progress-dialog-tablet-timeline-design.md
Due: none

style: format frame preview regression test
  backend/tests/logic/infrastructure/test_frame_preview_port.py
Due: ty

feat: add project design steward
  .codex/agents/design_steward.toml
  .codex/hooks.json
  .codex/hooks/inject_design_steward_context.py
  .codex/hooks/test_inject_design_steward_context.py
  AGENTS.md
  docs/architecture/decisions/README.md
  docs/architecture/principles/README.md
Due: none

fix: 編集プレビュー生成中も録画データを表示
  frontend/src/main/components/recording/BottomDrawer.component.test.ts
  frontend/src/main/components/recording/BottomDrawer.svelte
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat: 設定ダイアログの表示を改善
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/domain/config/behavior.py
  backend/src/splat_replay/domain/config/capture_device.py
  backend/src/splat_replay/domain/config/obs.py
  backend/src/splat_replay/domain/config/record.py
  backend/src/splat_replay/domain/config/remote_access.py
  backend/src/splat_replay/domain/config/speech_transcriber.py
  backend/src/splat_replay/domain/config/upload.py
  backend/src/splat_replay/domain/config/video_edit.py
  backend/src/splat_replay/domain/config/video_storage.py
  backend/src/splat_replay/domain/config/webview.py
  backend/src/splat_replay/infrastructure/adapters/storage/settings_repository.py
  backend/src/splat_replay/infrastructure/config/loaders.py
  backend/tests/contract/test_settings_router_contract.py
  docs/architecture/decisions/20260810-174636-設定ダイアログの視認性を構造と狭幅リフローで改善する.md
  docs/architecture/decisions/20260811-111359-録画タブの表示区分をAPIの編集可能設定に合わせる.md
  docs/architecture/decisions/20260811-191426-設定ダイアログの外形を固定し表示構造を保存元から分離する.md
  docs/architecture/decisions/20260811-232813-設定ダイアログを基本設定とすべての設定で段階表示する.md
  docs/architecture/decisions/20260812-015713-基本設定をタブなしのセクショングリッドで表示する.md
  docs/architecture/decisions/20260812-113306-基本設定の広幅配置を独立した縦列にする.md
  frontend/src/common/components/BaseDialog.svelte
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/components/settings/SettingsDialog.component.test.ts
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/main/components/settings/grouping.test.ts
  frontend/src/main/components/settings/grouping.ts
  frontend/src/main/components/settings/settings-flow.integration.test.ts
  frontend/src/main/components/settings/types.ts
  frontend/src/main/renderMode.test.ts
  frontend/tests/e2e/responsive-layout.spec.ts
  frontend/tests/e2e/support/appHelpers.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: デプロイ検査でUnicodeパスを扱う
  backend/tests/logic/bootstrap/test_deploy_desktop_script.py
  scripts/deploy-desktop.ps1
Due: ty

fix: ボトムドロワーの表示領域を拡大
  frontend/src/main/components/recording/BottomDrawer.svelte
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

docs: 検証範囲の選定ルールを明確化
  AGENTS.md
  docs/DEVELOPMENT.md
  docs/architecture/decisions/20260812-132848-変更分類と保証対象から最小の検証範囲を選ぶ.md
  docs/test_strategy.md
Due: none

fix: デプロイ検査のSHA-256計算を互換化
  scripts/deploy-desktop.ps1
Due: none

fix: 録画状態インジケーターを改善
  frontend/src/main/components/recording/CaptureControl.component.test.ts
  frontend/src/main/components/recording/CaptureControl.svelte
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: 起動時の録画優先と処理キャンセルを保証
  backend/src/splat_replay/application/dto/assets.py
  backend/src/splat_replay/application/interfaces/upload.py
  backend/src/splat_replay/application/interfaces/video.py
  backend/src/splat_replay/application/services/editing/auto_editor.py
  backend/src/splat_replay/application/services/editing/subtitle_processor.py
  backend/src/splat_replay/application/services/process/auto_process_service.py
  backend/src/splat_replay/application/services/upload/auto_uploader.py
  backend/src/splat_replay/application/use_cases/assets/get_edit_upload_status.py
  backend/src/splat_replay/application/use_cases/assets/start_edit_upload.py
  backend/src/splat_replay/domain/events/process_events.py
  backend/src/splat_replay/infrastructure/adapters/upload/noop_upload_port.py
  backend/src/splat_replay/infrastructure/adapters/upload/youtube_client.py
  backend/src/splat_replay/infrastructure/adapters/video/ffmpeg_processor.py
  backend/src/splat_replay/interface/web/routers/assets.py
  backend/src/splat_replay/interface/web/schemas/common.py
  backend/tests/contract/test_assets_router_contract.py
  backend/tests/logic/application/test_auto_editor.py
  backend/tests/logic/application/test_auto_process_worker.py
  backend/tests/logic/application/test_auto_uploader.py
  backend/tests/logic/application/test_battle_history.py
  backend/tests/logic/application/test_start_edit_upload_use_case.py
  backend/tests/logic/infrastructure/test_ffmpeg_processor.py
  backend/tests/logic/infrastructure/test_frame_preview_port.py
  backend/tests/logic/infrastructure/test_youtube_client.py
  docs/architecture/decisions/20260903-072808-起動時は未処理動画を再発見するだけで自動処理を開始しない.md
  docs/architecture/decisions/20260904-071101-編集アップロードのキャンセルを確定境界まで伝播し再処理を抑止する.md
  docs/external_spec.md
  docs/superpowers/specs/2026-08-13-switch-power-cycle-continuous-automation.md
  frontend/src/main/api/assets.test.ts
  frontend/src/main/api/mappers.test.ts
  frontend/src/main/api/mappers.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/progress/ProgressDialog.component.test.ts
  frontend/src/main/components/progress/ProgressDialog.svelte
  frontend/src/main/components/recording/BottomDrawer.component.test.ts
  frontend/src/main/components/recording/useProcessFlow.svelte.ts
  frontend/src/main/domainEvents.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: OBS音声復旧と録画開始を安定化
  backend/src/splat_replay/application/interfaces/audio.py
  backend/src/splat_replay/application/interfaces/recording.py
  backend/src/splat_replay/application/services/recording/auto_recorder.py
  backend/src/splat_replay/application/services/recording/recording_audio_health.py
  backend/src/splat_replay/application/services/recording/recording_preparation.py
  backend/src/splat_replay/application/services/recording/recording_session_service.py
  backend/src/splat_replay/application/use_cases/auto_recording_use_case.py
  backend/src/splat_replay/infrastructure/adapters/audio/speech_transcriber.py
  backend/src/splat_replay/infrastructure/adapters/capture/capture_device_checker.py
  backend/src/splat_replay/infrastructure/adapters/obs/process_manager.py
  backend/src/splat_replay/infrastructure/adapters/obs/recorder_controller.py
  backend/src/splat_replay/infrastructure/adapters/video/adaptive_video_recorder.py
  backend/src/splat_replay/infrastructure/adapters/video/recorder_with_transcription.py
  backend/src/splat_replay/infrastructure/adapters/video/replay_recorder_controller.py
  backend/src/splat_replay/infrastructure/di/app_services.py
  backend/src/splat_replay/interface/web/routers/recording.py
  backend/tests/contract/test_api_contract.py
  backend/tests/logic/application/test_auto_recording_use_case.py
  backend/tests/logic/application/test_recording_audio_health_use_case.py
  backend/tests/logic/infrastructure/test_capture_device_checker.py
  backend/tests/logic/infrastructure/test_obs_lifecycle_serialization.py
  backend/tests/logic/infrastructure/test_recorder_with_transcription_start.py
  backend/tests/logic/infrastructure/test_recording_audio_health.py
  backend/tests/logic/infrastructure/test_speech_transcriber_start.py
  backend/tests/performance/test_recording_start_latency.py
  docs/architecture/decisions/20260901-213726-OBS音声のsilentを実機準備完了時だけアプリ所有プロセスの再起動で復旧する.md
  docs/architecture/decisions/20260902-123051-OBS音声のreadiness確認をキャプチャー接続とSwitch電源の成立後に行う.md
  docs/architecture/decisions/20260902-212127-OBS音声readinessの実検査入口をARMED遷移時と録画開始直前に限定する.md
  docs/architecture/decisions/20260903-065610-起動済みOBSも一意な設定パス一致時だけ音声復旧し終了時は残す.md
  frontend/src/main/components/recording/VideoPreviewContainer.component.test.ts
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: SSE接続共有で処理キャンセルを即時化
  frontend/src/main/components/metadata/MetadataOverlay.svelte
  frontend/src/main/components/recording/VideoPreview.svelte
  frontend/src/main/components/recording/useProcessFlow.svelte.ts
  frontend/src/main/domainEvents.test.ts
  frontend/src/main/domainEvents.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: 編集プレビュー画像をアップロード後に削除
  backend/src/splat_replay/infrastructure/repositories/edited_asset_repo.py
  backend/tests/logic/infrastructure/test_edited_asset_repo.py
Due: ty

feat: デスクトップ起動表示を改善
  backend/assets/startup-loading.mp4
  backend/packaging/splat-replay-webview.spec
  backend/src/splat_replay/bootstrap/cli.py
  backend/src/splat_replay/bootstrap/webview.py
  backend/src/splat_replay/interface/gui/webview_app.py
  backend/tests/logic/interface/test_webview_app.py
  docs/architecture/decisions/20260909-201235-デスクトップ起動を二段表示しbackend準備と並行させる.md
  docs/architecture/decisions/20260910-072430-外側スプラッシュを廃止し起動中の円を常時回転させる.md
Due: ty

chore: アプリアイコンを更新
  backend/assets/icon.ico
  backend/assets/icon.png
  frontend/public/icon.png
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: デスクトップ配布でroot assetsを同期
  backend/tests/logic/bootstrap/test_deploy_desktop_script.py
  scripts/deploy-desktop.ps1
Due: ty

fix: アプリ終了時にOBSの正常終了を待つ
  backend/src/splat_replay/infrastructure/adapters/obs/process_manager.py
  backend/src/splat_replay/infrastructure/adapters/obs/recorder_controller.py
  backend/src/splat_replay/interface/gui/webview_app.py
  backend/tests/logic/infrastructure/test_obs_lifecycle_serialization.py
  backend/tests/logic/interface/test_webview_app.py
Due: ty

fix: 編集失敗の成功通知を防ぎデプロイ時の利用者データを保護
  backend/src/splat_replay/application/services/editing/auto_editor.py
  backend/tests/logic/application/test_auto_editor.py
  backend/tests/logic/bootstrap/test_deploy_desktop_script.py
  docs/architecture/decisions/20260913-013343-編集失敗時はアップロードと成功通知を止め確定済み動画を次回へ残す.md
  scripts/deploy-desktop.ps1
Due: ty

Path conditions:
  ty: any of: ^backend/src/|^backend/tests/
  frontend-format: any of: ^frontend/
  frontend-lint: any of: ^frontend/
  frontend-type-check: any of: ^frontend/
  frontend-svelte-check: any of: ^frontend/
