Repository saw4405/splat-replay2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

ty:
  name: ty check
  entry: uv --directory backend run ty check . --ignore unresolved-import
  language: system
  pass_filenames: false

frontend-format:
  name: frontend format check
  entry: npm run format:check --prefix frontend
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend type check
  entry: npm run type-check --prefix frontend
  language: system
  pass_filenames: false

frontend-svelte-check:
  name: frontend svelte check
  entry: npm run check --prefix frontend
  language: system
  pass_filenames: false

fix: 外部コマンド実行時のコンソール表示を抑止
  backend/src/splat_replay/infrastructure/adapters/system/system_command_adapter.py
  backend/src/splat_replay/infrastructure/adapters/system/system_power.py
  backend/src/splat_replay/infrastructure/adapters/video/ffmpeg_processor.py
  backend/src/splat_replay/interface/web/routers/remote_access.py
  backend/tests/logic/infrastructure/test_hidden_subprocess.py
Due: ty

fix: Windows共有違反による編集失敗を防ぐ
  backend/src/splat_replay/application/services/editing/auto_editor.py
  backend/src/splat_replay/application/services/editing/thumbnail_generator.py
  backend/tests/logic/application/test_auto_editor.py
  backend/tests/test_thumbnail_generator.py
  docs/architecture/decisions/20260920-153305-Windows共有違反はcommit後cleanupで有界再試行しサムネイル一時名を分離する.md
Due: ty

feat: 設計助言役と記録役を分離
  .codex/agents/design_advisor.toml
  .codex/agents/design_recorder.toml
  .codex/agents/design_steward.toml
  .codex/hooks.json
  .codex/hooks/inject_design_recorder_context.py
  .codex/hooks/inject_design_steward_context.py
  .codex/hooks/test_inject_design_recorder_context.py
  AGENTS.md
  docs/architecture/decisions/20260921-163308-動作確認用ADRは製品設計と実装を変更せず検証目的を明記する.md
  docs/architecture/decisions/README.md
Due: none

feat: PC常駐とトレイ状態表示・安全な更新を追加
  Taskfile.yml
  backend/assets/desktop-control.json
  backend/assets/tray/attention.ico
  backend/assets/tray/processing.ico
  backend/assets/tray/recording.ico
  backend/assets/tray/starting.ico
  backend/assets/tray/waiting.ico
  backend/src/splat_replay/application/services/process/auto_process_service.py
  backend/src/splat_replay/application/services/system/desktop_maintenance.py
  backend/src/splat_replay/application/use_cases/assets/start_edit_upload.py
  backend/src/splat_replay/application/use_cases/auto_recording_use_case.py
  backend/src/splat_replay/bootstrap/webview.py
  backend/src/splat_replay/infrastructure/adapters/obs/process_manager.py
  backend/src/splat_replay/infrastructure/adapters/system/desktop_instance.py
  backend/src/splat_replay/interface/gui/desktop_control.py
  backend/src/splat_replay/interface/gui/desktop_tray.py
  backend/src/splat_replay/interface/gui/webview_app.py
  backend/src/splat_replay/interface/web/app_factory.py
  backend/src/splat_replay/interface/web/routers/events.py
  backend/tests/contract/test_desktop_maintenance_contract.py
  backend/tests/logic/application/test_auto_recording_use_case.py
  backend/tests/logic/application/test_desktop_maintenance.py
  backend/tests/logic/bootstrap/test_resident_update.py
  backend/tests/logic/infrastructure/test_desktop_instance.py
  backend/tests/logic/infrastructure/test_obs_lifecycle_serialization.py
  backend/tests/logic/interface/test_desktop_sse_shutdown.py
  backend/tests/logic/interface/test_desktop_tray.py
  backend/tests/logic/interface/test_resident_window.py
  backend/tests/logic/interface/test_tray_status.py
  backend/tests/logic/interface/test_webview_app.py
  docs/architecture/decisions/20260913-224011-SplatReplay自身を常駐させAndroidから利用し更新時だけ完全終了する.md
  docs/architecture/decisions/20260913-225609-更新予約後も録画を優先しSwitch停止と後処理完了を待つ.md
  docs/architecture/decisions/20260914-231358-常駐更新の制御先を分離し処理完了と保留起動で更新境界を確定する.md
  docs/architecture/decisions/20260920-094217-完全終了を更新のSwitch停止待ちから分離しOBSのトレイ起動と正常終了を接続する.md
  docs/architecture/decisions/20260920-154021-終了通知でSSE配信を閉じ正常終了の循環待ちを解消する.md
  docs/resident-desktop.md
  scripts/deploy-desktop.ps1
  scripts/generate-tray-icons.py
  scripts/register-desktop-startup.ps1
  scripts/update-resident-desktop.ps1
Due: ty

feat: AndroidからのLAN接続と再接続案内を追加
  android/AndroidManifest.xml
  android/res/mipmap-anydpi-v26/ic_launcher.xml
  android/src/app/splatreplay/android/LanAddress.java
  android/src/app/splatreplay/android/MainActivity.java
  android/tests/LanAddressTest.java
  docs/architecture/decisions/20260915-072334-Android接続操作を本体と区別する接続バーと下部パネルにまとめる.md
  docs/architecture/decisions/20260915-194201-Android未接続時は対処と接続先変更をメイン画面で完結させ自動再確認を明示する.md
  docs/resident-desktop.md
  scripts/build-android.ps1
Due: none

fix: restore capture device status without recovery
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/common.py
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/application/interfaces/recording.py
  backend/src/splat_replay/application/services/recording/recording_preparation.py
  backend/src/splat_replay/application/services/system/desktop_maintenance.py
  backend/src/splat_replay/application/services/system/device_checker.py
  backend/src/splat_replay/domain/config/capture_device.py
  backend/src/splat_replay/infrastructure/adapters/capture/capture_device_checker.py
  backend/src/splat_replay/infrastructure/adapters/obs/websocket_client.py
  backend/src/splat_replay/infrastructure/adapters/system/cross_cutting.py
  backend/src/splat_replay/infrastructure/adapters/system/replay_runtime.py
  backend/src/splat_replay/interface/web/routers/settings.py
  backend/src/splat_replay/interface/web/routers/setup_config.py
  backend/src/splat_replay/interface/web/schemas/__init__.py
  backend/src/splat_replay/interface/web/schemas/setup.py
  backend/tests/contract/test_settings_router_contract.py
  backend/tests/contract/test_setup_router_contract.py
  backend/tests/logic/application/test_battle_history.py
  backend/tests/logic/application/test_capture_device_recovery.py
  backend/tests/logic/application/test_desktop_maintenance.py
  backend/tests/logic/application/test_recording_audio_health_use_case.py
  backend/tests/logic/application/test_title_description_generator.py
  backend/tests/logic/infrastructure/test_capture_device_checker.py
  backend/tests/logic/infrastructure/test_obs_websocket_connection.py
  backend/tests/logic/infrastructure/test_recording_audio_health.py
  backend/tests/logic/infrastructure/test_webview_settings.py
  backend/tests/logic/interface/test_settings_router_logic.py
  frontend/src/main/api/recording.test.ts
  frontend/src/main/api/recording.ts
  frontend/src/main/api/types.ts
  frontend/src/main/components/recording/VideoPreviewContainer.component.test.ts
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

Path conditions:
  ty: any of: ^backend/src/|^backend/tests/
  frontend-format: any of: ^frontend/
  frontend-lint: any of: ^frontend/
  frontend-type-check: any of: ^frontend/
  frontend-svelte-check: any of: ^frontend/
