Repository saw4405/splat-replay2: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

ty:
  name: ty check
  entry: uv --directory backend run ty check . --ignore unresolved-import
  language: system
  pass_filenames: false

frontend-format:
  name: frontend format check
  entry: npm run format:check --prefix frontend
  language: system
  pass_filenames: false

frontend-lint:
  name: frontend lint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

frontend-type-check:
  name: frontend type check
  entry: npm run type-check --prefix frontend
  language: system
  pass_filenames: false

frontend-svelte-check:
  name: frontend svelte check
  entry: npm run check --prefix frontend
  language: system
  pass_filenames: false

feat: group settings dialog tabs
  frontend/src/main/components/settings/SettingsDialog.component.test.ts
  frontend/src/main/components/settings/SettingsDialog.layout.test.ts
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/main/components/settings/grouping.test.ts
  frontend/src/main/components/settings/grouping.ts
  frontend/src/main/components/settings/settings-flow.integration.test.ts
  frontend/src/main/renderMode.test.ts
  frontend/src/main/renderMode.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix(frontend): MainApp のレイアウトギャップを 1.5rem に修正し テストの calc 期待値に + 8px を追加
  frontend/src/main/MainApp.svelte
  frontend/src/main/MainApp.test.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: 空タイトルトークンのカッコ削除
  backend/src/splat_replay/application/services/editing/title_description_generator.py
  backend/tests/test_title_description_generator.py
Due: ty

feat(ui): ドロワーボタンに録画件数バッジを追加
  frontend/src/main/MainApp.svelte
  frontend/src/main/components/recording/BottomDrawer.svelte
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

chore: worktree preview skillを追加
  .codex/skills/worktree-preview/SKILL.md
Due: none

chore: worktreeをVS Codeワークスペースに追加する
  .codex/skills/worktree-setup/scripts/setup_worktree.sh
Due: none

feat: ブキ検出の確定診断を追加
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/weapon_detection.py
  backend/src/splat_replay/application/services/recording/ingame_handler.py
  backend/src/splat_replay/application/services/recording/weapon_detection_service.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/constants.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/recognizer.py
  backend/src/splat_replay/infrastructure/adapters/weapon_detection/team_color.py
  backend/tests/fixtures/weapon_detection/weapon_icons_visible/weapon_icons_visible_20260417_231716.png
  backend/tests/test_ingame_handler_weapon_detection_cancel.py
  backend/tests/test_weapon_detection_service.py
  backend/tests/test_weapon_recognition_adapter.py
Due: ty

feat: 音声認識の無音判定を改善
  backend/scripts/test_transcription.py
  backend/src/splat_replay/domain/config/speech_transcriber.py
  backend/src/splat_replay/infrastructure/adapters/audio/integrated_speech_recognition.py
  backend/src/splat_replay/infrastructure/adapters/audio/speech_transcriber.py
  backend/typings/speech_recognition/__init__.pyi
Due: ty

fix: result_frame保持中の停止前ドレイン比較を修正
  backend/src/splat_replay/application/use_cases/auto_recording_use_case.py
  backend/tests/test_auto_recording_use_case.py
Due: ty

fix: バトル終了時は完了済みのブキ検出結果を優先する
  backend/src/splat_replay/application/services/recording/ingame_handler.py
  backend/src/splat_replay/application/services/recording/phase_handler_registry.py
  backend/src/splat_replay/application/services/recording/weapon_detection_service.py
  backend/tests/test_ingame_handler_weapon_detection_cancel.py
  backend/tests/test_weapon_detection_service.py
Due: ty

feat: VAD感度と最小検出比率のデフォルト値を変更し、短い録音を破棄するロジックを追加
  backend/src/splat_replay/domain/config/speech_transcriber.py
  backend/src/splat_replay/infrastructure/adapters/audio/speech_transcriber.py
Due: ty

feat(audio): add manual energy_threshold calibration UI and disable auto-adjust
  backend/src/splat_replay/domain/config/speech_transcriber.py
  backend/src/splat_replay/infrastructure/adapters/audio/speech_transcriber.py
  backend/src/splat_replay/interface/web/routers/settings.py
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/setup/components/steps/TranscriptionSetup.svelte
  frontend/src/setup/stores/config.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

refactor: weapon_detection_service の詳細診断ログを削除
  backend/src/splat_replay/application/services/recording/weapon_detection_service.py
  backend/tests/test_weapon_detection_service.py
Due: ty

docs: worktree-preview スキルの手順を改訂
  .codex/skills/worktree-preview/SKILL.md
Due: none

feat: task dev を同一ターミナル内で起動するように変更 Windows で CREATE_NEW_CONSOLE により別ウィンドウを開いていた挙動を廃止し、 フロントエンド(Vite)とバックエンド(uvicorn)を同一ターミナル内の子プロセスと して起動するように変更。Ctrl+C で両方まとめて停止できる。
  backend/src/splat_replay/bootstrap/dev_server.py
  backend/tests/test_dev_server.py
Due: ty

﻿fix: 音声検出しきい値の自動調整機能を修正
  backend/src/splat_replay/domain/config/speech_transcriber.py
  backend/src/splat_replay/interface/web/routers/settings.py
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/setup/stores/state.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: 詳細診断ログ削除時のテスト削除漏れを修正
  backend/tests/test_weapon_detection_service.py
Due: ty

refactor: デッドコード削除とコード品質改善
  backend/scripts/test_transcription.py
  backend/src/splat_replay/application/services/recording/weapon_detection_service.py
  backend/src/splat_replay/infrastructure/adapters/audio/speech_transcriber.py
  backend/src/splat_replay/interface/web/routers/settings.py
  backend/src/splat_replay/interface/web/schemas/__init__.py
  backend/src/splat_replay/interface/web/schemas/settings.py
  backend/tests/test_weapon_detection_service.py
  frontend/src/setup/stores/config.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

refactor(tests): 不要・冗長・曖昧なテストを整理
  AGENTS.md
  backend/tests/test_domain_models.py
  backend/tests/test_state_machine.py
  backend/tests/test_upload_use_case.py
  docs/test_strategy.md
  frontend/src/main-entry.test.ts
  frontend/src/main/MainApp.test.ts
  frontend/src/main/api/process.test.ts
  frontend/src/main/components/assets/StatisticsDataView.component.test.ts
  frontend/src/main/components/media/video-preview-flow.integration.test.ts
  frontend/src/main/components/metadata/MetadataForm.component.test.ts
  frontend/src/main/components/recording/BottomDrawer.test.ts
  frontend/src/main/components/recording/VideoPreviewContainer.test.ts
  frontend/src/main/components/settings/SettingsDialog.layout.test.ts
  frontend/src/main/renderMode.test.ts
  frontend/src/spinner-animation.test.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: マイクデバイス検索を WASAPI 正規化名ベースに改善
  backend/src/splat_replay/application/interfaces/audio.py
  backend/src/splat_replay/infrastructure/adapters/audio/microphone_enumerator.py
  backend/tests/test_capture_device_recovery.py
  backend/tests/test_webview_settings.py
Due: ty

fix: 録音ループのエラー処理と無音判定ログを改善
  backend/src/splat_replay/infrastructure/adapters/audio/integrated_speech_recognition.py
  backend/src/splat_replay/infrastructure/adapters/audio/speech_transcriber.py
Due: ty

fix: no_speech_prob_threshold のデフォルト値を 0.9 に変更
  backend/src/splat_replay/domain/config/speech_transcriber.py
  backend/src/splat_replay/infrastructure/di/adapters.py
Due: ty

fix: デバイスチェッカーにマイクテスト追加とパッケージング更新
  backend/packaging/splat-replay-webview.spec
  backend/src/splat_replay/application/services/system/device_checker.py
Due: ty

feat: 音声認識テスト機能とキャリブレーション改善
  backend/src/splat_replay/bootstrap/web_app.py
  backend/src/splat_replay/interface/web/routers/settings.py
  backend/src/splat_replay/interface/web/schemas/__init__.py
  backend/src/splat_replay/interface/web/schemas/settings.py
  backend/src/splat_replay/interface/web/server.py
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/main/components/settings/SpeechTestDialog.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat: 設定ダイアログの2フェーズ取得で表示遅延を解消
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/application/services/common/settings_service.py
  backend/src/splat_replay/infrastructure/adapters/audio/microphone_enumerator.py
  backend/src/splat_replay/infrastructure/adapters/capture/capture_device_checker.py
  backend/src/splat_replay/infrastructure/adapters/storage/settings_repository.py
  backend/src/splat_replay/interface/web/routers/settings.py
  frontend/src/common/components/BaseDialog.svelte
  frontend/src/main/components/settings/SettingsDialog.component.test.ts
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/main/components/settings/settings-flow.integration.test.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: マヒマヒのステージサムネイルを表示
  backend/assets/thumbnail/マヒマヒリゾート＆スパ.png
  backend/tests/test_thumbnail_assets.py
Due: ty

feat: OBS音声入力ヘルスチェックを追加
  backend/src/splat_replay/application/interfaces/__init__.py
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/application/interfaces/recording.py
  backend/src/splat_replay/application/services/recording/auto_recorder.py
  backend/src/splat_replay/application/services/recording/recording_preparation.py
  backend/src/splat_replay/application/services/recording/recording_session_service.py
  backend/src/splat_replay/domain/events/__init__.py
  backend/src/splat_replay/domain/events/recording_events.py
  backend/src/splat_replay/infrastructure/adapters/obs/recorder_controller.py
  backend/src/splat_replay/infrastructure/adapters/obs/websocket_client.py
  backend/src/splat_replay/infrastructure/adapters/video/adaptive_video_recorder.py
  backend/src/splat_replay/infrastructure/adapters/video/recorder_with_transcription.py
  backend/src/splat_replay/infrastructure/adapters/video/replay_recorder_controller.py
  backend/src/splat_replay/infrastructure/di/app_services.py
  backend/src/splat_replay/interface/web/routers/recording.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_contract.py
  backend/tests/test_recording_audio_health.py
  frontend/src/main/components/recording/VideoPreviewContainer.component.test.ts
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
  frontend/src/main/domainEvents.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

chore: .taskの追跡を解除
  .task/checksum/generate-openapi
  .task/checksum/generate-types
Due: none

Ignore E2E mkv fixtures
  frontend/.prettierignore
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat: レスポンシブプレビュー配置を改善
  frontend/src/app.css
  frontend/src/main/MainApp.svelte
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
  frontend/tests/e2e/responsive-layout.spec.ts
Due: frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

feat: LANリモートアクセス機能を追加
  backend/config/settings.example.toml
  backend/pyproject.toml
  backend/src/splat_replay/application/interfaces/data.py
  backend/src/splat_replay/application/services/common/settings_service.py
  backend/src/splat_replay/bootstrap/cli.py
  backend/src/splat_replay/bootstrap/dev_server.py
  backend/src/splat_replay/bootstrap/webview.py
  backend/src/splat_replay/domain/config/__init__.py
  backend/src/splat_replay/domain/config/app.py
  backend/src/splat_replay/domain/config/remote_access.py
  backend/src/splat_replay/infrastructure/adapters/storage/settings_repository.py
  backend/src/splat_replay/infrastructure/config/loaders.py
  backend/src/splat_replay/infrastructure/di/config.py
  backend/src/splat_replay/interface/cli/main.py
  backend/src/splat_replay/interface/gui/webview_app.py
  backend/src/splat_replay/interface/web/app_factory.py
  backend/src/splat_replay/interface/web/routers/__init__.py
  backend/src/splat_replay/interface/web/routers/remote_access.py
  backend/tests/integration/test_api_contract.py
  backend/tests/integration/test_remote_access_router_contracts.py
  backend/tests/integration/test_settings_router_contracts.py
  backend/tests/test_cli_remote_access.py
  backend/tests/test_dev_server.py
  backend/tests/test_remote_access_router.py
  backend/tests/test_webview_app.py
  backend/tests/test_webview_settings.py
  docs/usage.md
  frontend/src/main/api/remoteAccess.ts
  frontend/src/main/clientEnvironment.test.ts
  frontend/src/main/clientEnvironment.ts
  frontend/src/main/components/recording/VideoPreview.component.test.ts
  frontend/src/main/components/recording/VideoPreview.svelte
  frontend/src/main/components/settings/FieldItem.svelte
  frontend/src/main/components/settings/SettingsDialog.component.test.ts
  frontend/src/main/components/settings/SettingsDialog.svelte
  frontend/src/main/components/settings/grouping.ts
  frontend/src/main/notification.test.ts
  frontend/src/main/notification.ts
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

Sync edit upload progress across remote clients
  backend/src/splat_replay/application/services/process/auto_process_service.py
  backend/src/splat_replay/application/use_cases/assets/start_edit_upload.py
  backend/tests/test_start_edit_upload_use_case.py
  frontend/src/main/components/recording/BottomDrawer.component.test.ts
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/test-utils/OpenDialogStub.svelte
  frontend/src/test-utils/ProgressDialogStub.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

Switch2の結果画面に対応
  backend/config/image_matching.yaml
  backend/tests/fixtures/templates/battle_result_20.png
  backend/tests/test_frame_analyzer.py
Due: ty

Improve battle result kill record OCR
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
  backend/tests/fixtures/templates/battle_result_kill_record_12k_11d_3s.png
  backend/tests/fixtures/templates/battle_result_kill_record_7k_5d_3d.png
  backend/tests/fixtures/templates/battle_result_kill_record_8k_5d_3s.png
  backend/tests/test_frame_analyzer.py
Due: ty

fix: 自動処理後の自動録画再開を安定化
  backend/src/splat_replay/application/services/recording/frame_capture_producer.py
  backend/src/splat_replay/infrastructure/adapters/capture/ndi_capture.py
  backend/tests/test_frame_capture_producer.py
  backend/tests/test_ndi_capture.py
  frontend/src/main/MainApp.svelte
  frontend/src/main/components/recording/BottomDrawer.component.test.ts
  frontend/src/main/components/recording/BottomDrawer.svelte
  frontend/src/main/components/recording/VideoPreviewContainer.component.test.ts
  frontend/src/main/components/recording/VideoPreviewContainer.svelte
  frontend/src/test-utils/NotificationDialogStub.svelte
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: バトル中断検知をグレー領域に対応
  backend/config/image_matching.yaml
  backend/tests/fixtures/templates/battle_abort_gray_overlay_1.png
  backend/tests/test_frame_analyzer.py
  frontend/tests/e2e/auto-recording-workflow.spec.ts
  frontend/tests/fixtures/e2e/auto-recording/early-abort-from-matching.json
  frontend/tests/fixtures/e2e/auto-recording/early-abort-from-matching.mkv
  frontend/tests/fixtures/e2e/auto-recording/early-abort-gray-overlay-in-game.json
  frontend/tests/fixtures/e2e/auto-recording/early-abort-gray-overlay-in-game.mkv
  frontend/tests/fixtures/e2e/auto-recording/regular-turf-war-mincemeat-win.json
  frontend/tests/fixtures/e2e/auto-recording/regular-turf-war-mincemeat-win.mkv
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

chore: worktree開発フローを整備
  .codex/skills/worktree-setup/SKILL.md
  .codex/skills/worktree-setup/scripts/setup_worktree.sh
  .githooks/pre-commit
  .githooks/pre-push
  .gitignore
  .pre-commit-config.yaml
  Taskfile.yml
  backend/tests/conftest.py
  backend/tests/integration/test_api_contract.py
  docs/DEVELOPMENT.md
  docs/test_strategy.md
  frontend/scripts/ensure-e2e-assets.js
  frontend/src/dev-doctor.test.ts
  frontend/src/ensure-e2e-assets.test.ts
  frontend/src/recordedSeed.test.ts
  scripts/dev-doctor.mjs
  scripts/install-hooks.ps1
Due: ty, frontend-format, frontend-lint, frontend-type-check, frontend-svelte-check

fix: 結果画面キル数の2桁抽出を修正
  backend/src/splat_replay/domain/services/analyzers/battle_analyzer.py
  backend/tests/fixtures/templates/battle_result_kill_record_11k_6d_3s.png
  backend/tests/test_frame_analyzer.py
Due: ty

fix: OBS の起動所有権に基づいて終了を制御
  backend/src/splat_replay/infrastructure/adapters/obs/process_manager.py
  backend/src/splat_replay/infrastructure/adapters/obs/recorder_controller.py
  backend/tests/test_obs_lifecycle_serialization.py
Due: ty

feat: デスクトップ配備スクリプトと Taskfile タスクを追加
  Taskfile.yml
  scripts/deploy-desktop.env
  scripts/deploy-desktop.ps1
Due: none

Path conditions:
  ty: any of: ^backend/src/|^backend/tests/
  frontend-format: any of: ^frontend/
  frontend-lint: any of: ^frontend/
  frontend-type-check: any of: ^frontend/
  frontend-svelte-check: any of: ^frontend/
